<%- include ("./partials/header") %>

<main role="main" class="container">
    <div class="row">
      <!-- <div class="container">
        <a href="/"><button type="submit" class="btn btn-primary"> Return Home </button></a>
      </div> -->
      <div class="col-md-8 blog-main">
        <h2 class="blog-post-title">Live Stream from Plant -  <%=plant.name%> </h2>
      </div>
      <div class="col-md-8 m-auto pt-4">
        <h2 class="text-center mb-5">Video Stream</h2>
        <video width="100%" muted="muted" autoplay>
          <source src="http://localhost:3000/video" type="video/mp4">
        </video>
      </div>
    </div>
  </main>

  <style>
    .row{
      padding-top: 50px;
      padding-left: 150px;
      margin-left: 70px;
      white-space: nowrap;


    }
  </style>

<!-- <%- include ("./partials/footer") %> 